/* Variables */
@body-bg-color: #83b692;    // green
@text-color: #fff;          // white
@button-bg-color: #67f958;  // pink

/* LESS CSS */
body {
  background: @body-bg-color;
  color: @text-color;
  font-family: sans-serif;
  text-align: center;
}
//lelfdasfasfdsafsa
/*aaasda
.AdminPanel:link, .AdminPanel:visited {
  background: @button-bg-color;
  color: @text-color;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
}
.AdminPanel:hover {
  background-color: desaturate(@button-bg-color, 50%);
}
.AdminPanel:active {
  background-color: saturate(@button-bg-color, 50%);
}*/