/* Variables */
/* LESS CSS */
body {
  background: #83b692;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
/*aaasda
.AdminPanel:link, .AdminPanel:visited {
  background: @button-bg-color;
  color: @text-color;
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
}
.AdminPanel:hover {
  background-color: desaturate(@button-bg-color, 50%);
}
.AdminPanel:active {
  background-color: saturate(@button-bg-color, 50%);
}*/
