/*
!* Variables *!

@text-color: #fff;          // white
@button-bg-color: #67f958;  // pink

!* LESS CSS *!
body {
  background: @body-bg-color;
  color: @text-color;
  font-family: sans-serif;
  text-align: center;
}*/
#base {
  background-color: rgba(62, 60, 58, 0.85);
  opacity: 0.7;
  border-radius: 5px;
  padding: 2.5px;
}
.login_class {
  background-color: rgba(62, 60, 58, 0.85);
  opacity: 0.7;
  border-radius: 5px;
  padding: 2.5px;
  display: inline-block;
}
.login_class input[type='text'] {
  border: solid 2.5px #C9C9C9;
  box-shadow: inset 0 0 0 1px #707070;
  transition: box-shadow 0.3s, border 0.3s;
}
.form_class {
  background-color: rgba(62, 60, 58, 0.85);
  opacity: 0.7;
  border-radius: 5px;
  padding: 2.5px;
}
body {
  color: #00ff19;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
table {
  background-color: rgba(0, 82, 8, 0.85);
  color: #c6cccd;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.msgClass {
  background-color: #092009;
  color: #eefff8;
}
.title {
  font-weight: bolder;
}
