/*
!* Variables *!

@text-color: #fff;          // white
@button-bg-color: #67f958;  // pink

!* LESS CSS *!
body {
  background: @body-bg-color;
  color: @text-color;
  font-family: sans-serif;
  text-align: center;
}*/
@color-base: rgba(62, 60, 58, 0.85);
@radius: 5px;
@opacity: 0.70;
@font: Tahoma, Geneva, sans-serif;

#base {
  background-color: @color-base;
  opacity: @opacity;
  border-radius: @radius;
  padding: @radius/2;
}

.login_class {
  #base;
  display: inline-block;
  input[type='text'] {
    border: solid @radius/2 #C9C9C9;
    box-shadow: inset 0 0 0 1px #707070;
    transition: box-shadow 0.3s, border 0.3s;
  }
}

.form_class {
  #base
}

body {
  color: #00ff19;
  //font-weight: bold;
  font-family: @font;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

table {
  background-color: rgba(0, 82, 8, 0.85);
  color: #c6cccd;
  text-align: center;
  width:70%;
  margin-left:15%;
  margin-right:15%;
}

.msgClass{
  background-color: rgb(9, 32, 9);
  color: #eefff8;
}

.title {
  font-weight: bolder;
}